.grid {
  td { 
    padding: 0 2px; 
  }
  input[type='text'] { 
    width: 93%; 
  }
  width: 100%;
}

#images_cache, #image_width_filter_min_checkbox, #image_width_filter_max_checkbox, #image_height_filter_min_checkbox, #image_height_filter_max_checkbox, #toggle_all_checkbox {
  display: none;
} 

#filters_container {
  td:first-of-type {
    width: 10%;
    text-align: right;
  }
  label {
    display: inline-block;
    text-align: right;
    color: $color-normal-text;
  }
  // input[type='text'] {
  //   width: 340px;
  // }
}

.noUi-target {
  width: 340px;
}

.noUi-connect {
  background-color: $color-primary;
}

.found-image {
  position: relative;
}

.open_image_button, .download_image_button {
  position: absolute;
  top: 32px;
  left: 4px;
  background-color: rgba(#fff, 0.7);
}

.open_image_button {
  left: 36px;
}

#download_button {
  margin: 10px auto;
  display: block;
  padding: 10px;
}