.noUi-connect, 
input[type='button'].accent,
input[type='button'].accent:hover, 
input[type='button'].accent:focus, 
input[type='button'].accent:active
 {
  background-color: $color-primary;
}

.found-image {
  position: relative;
}

.found-image .mdi {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  line-height: 1.3em;
  border-radius: 0.25em;
}

.found-image .mdi:hover {
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 1.2em;
}

.open_image_button, .download_image_button {
  background-image: none;
  position: absolute;
  float: left;
  top: 1.3em;
}

.open_image_button {
  left: 30px;
}

#filter_inputs_container {
  label {
    float: right;
  }
  input {
    width: 330px;
  }
}

#filters_container {
  border-bottom: none;
}

#toggle_all_checkbox {
  display: none;
}

#download_button {
  margin: 7px;
}