.noUi-connect, 
input[type='button'].accent,
input[type='button'].accent:hover, 
input[type='button'].accent:focus, 
input[type='button'].accent:active
 {
  background-color: $primary-color;
}

.found-image {
  position: relative;
}

.found-image .mdi {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  line-height: 1.2em;
}

.found-image .mdi:hover {
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 1.2em;
}

.open_image_button, .download_image_button {
  background-image: none;
  position: absolute;
  float: left;
  top: 1.3em;
}

.open_image_button {
  left: 30px;
}